* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,400&display=swap");

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* -----------------------------------------
--                  Utility class         ---
----------------------------------------------- */

/* container */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* text styles */
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-primary {
  color: #17a2b8;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* margin */
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}
.my-5 {
  margin: 5rem 0;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-4 {
  margin: 4rem;
}
.m-5 {
  margin: 5rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}
.py-5 {
  padding: 5rem 0;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}

/* Background */
.bg-primary {
  background-color: #17a2b8;
  color: #fff;
}
.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}
.bg-dark {
  background-color: #343a40;
  color: #fff;
}
.bg-success {
  background-color: #28a745;
  color: #fff;
}
.bg-danger {
  background-color: #dc3545;
  color: #fff;
}
.bg-white {
  background-color: #fff;
  color: #333;
  border: #ccc 1px solid;
}

/* Buttons */
.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in;
}

.btn-primary {
  background: #17a2b8;
  color: #fff;
}

.btn-primary:hover {
  background: #00bfff;
}

.btn-dark {
  background: #343a40;
}

.btn-dark:hover {
  background: #00bfff;
}

.btn-success {
  background: #28a745;
}

.btn-success:hover {
  background: #00bfff;
}

.btn-danger {
  background: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background: #333;
  color: #dc3545;
}

/* .btn-danger:hover {
  background: #00bfff;
} */

.btn-light {
  background: #fff;
}

.btn-light:hover {
  background: #6495ed;
}

/* Alerts */
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333;
}

.alert-primary {
  background: #17a2b8;
}
.alert-dark {
  background: #343a40;
}
.alert-success {
  background: #28a745;
}
.alert-danger {
  background: #dc3545;
  color: #fff;
}

a {
  text-decoration: none;
  color: #17a2b8;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* badges */
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333;
}

.badge-primary {
  background: #17a2b8;
  color: #fff;
}

.badge-dark {
  background: #343a40;
  color: #fff;
}

.badge-success {
  background: #28a745;
}

.badge-danger {
  background: #dc3545;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Form */
.form-group {
  margin: 1.2rem 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"] {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.fa-twitter {
  color: #38a1f3;
}
.fa-facebook {
  color: #3b5998;
}
.fa-instagram {
  color: #3f729b;
}
.fa-youtube {
  color: #c4302b;
}
.fa-linkedin {
  color: #0077b5;
}

/* table */

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

/* -----------------------------------------------
-----                Navbar              ----------
-----------------------------------------------------*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  background: #17a2b8;
  opacity: 0.9;
}
.bg-blue {
  background-color: #17a2b8 !important;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: white;
}
.dropdown-menu {
  background-color: #17a2b8 !important;
}
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  /* Container */
  .container {
    margin-top: 8rem;
  }

  /* Text-styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 3px;
  }
}
